.btn-primary-red {
  color: #fff;
  background-color: #EC4040;
  border-color: #EC4040;
}

.bg-indigo{
  background-color: #5F96FD;;
  border-color: #5F96FD;;
  color: #fff;
}

/* Chat containers */
.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  text-align: right;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
  text-align: left;
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}